/.vscode/
.ionide/
.scala-build/
.lsp/
.metals/
.clj-kondo/
.bsp/
null/
/*/project/
/*/target/
/*/null/
/*/.bsp/
HELP.md
# .bsp/*
/**/.bsp/
sbt.json
/project/*
/target/*
/null/
cleanup.*
prepareTests.ps1
.fake
